.M-accountModal
    .btn-avatar-cancel
        float: left
        margin-top: 40px
    .avatar-uploader
        float: left
        width: 112px
        .ant-upload-select-picture-card
            border-radius: 50%
            img 
                border-radius: 50%