.M-create-modal
    .ant-col-8
        // flex: none
        flex: 0 0 82px
        max-width: 82px
    .ant-modal-body
        padding 0px 24px 24px 
    .ant-row
        margin-top 15px
    input.ant-input
        width 220px
    textarea.ant-input
        width 320px
        height 80px
        outline: none
        resize: none
