.M-team-setup
        top: 50px
    .ant-modal-body
        padding: 0
        margin 15px 0 0
    .ant-form-item-label > label
        font-size: 14px
    .ant-col-8
        // flex: none
        flex: 0 0 82px
        max-width: 82px
    .ant-row
        margin 10px 0 10px
    input.ant-input
        width 220px
    textarea.ant-input
        width 320px
        height 80px
        outline: none
        resize: none
    .teamName,
    .status,
    .comment,
    .addMember,
    .memberList
        padding 0 20px
    .memberList
        width 100px
        margin 0 0 8px
        padding 0
        text-align: right 
    .addMember
        margin 20px 0
        .addUser
            display inline-block
            width 82px
            text-align: right 
        .ant-btn 
            height 30px
            padding: 0 8px;
            margin-left: 10px;
            font-size: 13px;
        .ant-btn > .anticon + span, .ant-btn > span + .anticon
            margin-left: 4px
        .userInfo
            margin-top 10px
            max-width 290px
            border: 1px solid #e6e6e6
            border-radius: 2px
            .m-box
                display flex
                margin: 10px
                align-items: center
                .m-img-box
                    width 60px
                    height 60px
                    margin-right 8px
                    border-radius: 50px
                    overflow hidden
                    img
                        display block
                        font-size: 0
                        width 100%
                        height 100%
                        object-fit: cover
                .m-left
                    flex: 1
                    margin 0
                    dl
                        margin 0
                        dd
                            margin 0
                            font-weight normal  
                        dt
                            font-size: 13px
                            margin-top 0
                            font-weight normal
                .m-right
                    .ant-btn
                        padding: 0 10px

            
    .ant-form-item-explain.ant-form-item-explain-error
        font-size: 12px
        margin-top 2px
    .ant-select
        font-size: 13px
    .G-table
        .m-box
            display flex
        .m-txt-disable
            color: #ccc
            cursor default
        .ant-table-thead > tr > th,
        .ant-table table
            text-align: center
        .ant-table-thead > tr > th:last-child,
        .ant-table-tbody .ant-table-cell:last-child
            // text-align: left 
        .action-con
            color #1890ff
            cursor pointer
            margin-right 10px
            span
                display inline-block 
                margin-right 15px
        .username
            position relative
            .isAdmin
                position absolute
                width 50px
                display inline-block
                margin-left 4px
                padding: 0 5px
                height 19px
                line-height: 19px
                font-size: 12px
                background: rgb(245, 154, 35)
                color: #ffffff
                border-radius: 30px
                font-style normal
        


        .m-txt
            color: #333
            em
                display: inline-block
                width 4px
                height 4px
                border-radius: 50px
                background: #1890ff
                vertical-align: middle
                margin-right 5px
        .m-txt-red
            color: #F04134
            em
                background: #F04134
        .m-txt-blue
            color: #1890ff
            em
                background: #1890ff
        .m-txt-green
            color: #00A854
            em
                background: #00A854
        .m-txt-grey
            color: #666
            em
                background: #666
        .m-txt-disable
            color: #ccc
            cursor default
            em
                background: #ccc
        .ant-table-tbody
            font-size: 13px
            color: #666
            text-align: center
        .anticon
            vertical-align: -0.225em
        .ant-btn > .anticon + span, .ant-btn > span + .anticon
            margin-left 4px
        

            
    
        
