.M-header
    position: fixed
    top: 0
    right: 0
    z-index: 10
    padding: 0
    height 70px
    background: #fff
    box-shadow: 0 1px 4px rgba(0,21,41,.08)
    .user-menu
        float: right
        margin-right: 20px
        line-height 70px
        cursor pointer
        .avatar
            width: 42px
            height: 42px
            border-radius: 50%
        .arrow
            margin-left: 10px
    .iconFix
        margin-right: 8px   
    .logo-con
        position absolute
        display flex
        height: 70px
        line-height: 70px
        overflow hidden
        user-select: none
        align-items: center
        img
            margin: 0 0 0 16px
            height: 46px
        .logo-title
            width: 150px
            color: #333
            margin-left 12px
            line-height: 22px
            font-weight: bold
            p
                margin-bottom: 0
                font-size: 16px     