// 用户信息弹层样式重置
.ant-dropdown-menu
    border-radius: 6px !important
    padding: 0 !important
    & > div
        line-height: 0 !important
        padding: 0 !important
.ant-dropdown-menu-item, 
.ant-dropdown-menu-submenu-title
    padding: 8px 25px !important
.ant-dropdown-menu-item-divider, 
.ant-dropdown-menu-submenu-title-divider
    margin 0 !important
    background none !important
.ant-table-pagination-right
    justify-content center
.ant-pagination-prev, 
.ant-pagination-next, 
.ant-pagination-jump-prev, 
.ant-pagination-jump-next ,
.ant-pagination-item
    min-width 28px
    height 28px
    line-height 28px
    border-radius: 4px
.ant-pagination-item a
    color: #666
.ant-pagination-prev .ant-pagination-item-link, 
.ant-pagination-next .ant-pagination-item-link
    border-radius: 4px
.ant-table-content::-webkit-scrollbar 
    display:none



