.P-users
    .opt-bar
        margin-bottom: 20px
    .G-title
        display flex
        justify-content space-between
        background #ffffff
        height 40px
        line-height: 40px
        border-bottom: 1px solid #f0f0f0
        border-radius: 6px 6px 0 0
        padding-right 10px
        h3
            font-size: 15px
            padding-left 16px
        span 
            display block
            font-size: 12px
            .ant-btn
                padding: 0 10px
                height 26px
    .G-search
        background: #ffffff
        padding 15px 0 20px 20px
        font-size: 13px
        box-sizing: border-box
        border-bottom: 1px solid #f0f0f0
        .ant-input
            width 200px
            height 29px
            margin-right 12px
            font-size: 13px
        .ant-btn
            height 29px
            padding: 0 10px
            margin-right 10px
            font-size: 12px
            
    .action-con
        color #1890ff
        cursor pointer
    .m-txt
        color: #333
        em
            display: inline-block
            width 4px
            height 4px
            border-radius: 50px
            background: #1890ff
            vertical-align: middle
            margin-right 5px
    .m-txt-red
        color: #F04134
        em
            background: #F04134
    .m-txt-blue
        color: #1890ff
        em
            background: #1890ff
    .m-txt-green
        color: #00A854
        em
            background: #00A854
    .m-txt-grey
            color: #666
            em
                background: #666
    .ant-table-thead > tr > th
        text-align: center
    .ant-table-tbody
        font-size: 13px
        color: #666
        text-align: center
    .anticon
        vertical-align: -0.225em
    .ant-btn > .anticon + span, .ant-btn > span + .anticon
        margin-left 4px
    .ant-table-thead > tr > th:last-child,
        .ant-table-tbody .ant-table-cell:last-child
            text-align: left 